body{
  font-family:sans-serif;
  font-weight:100;
}
button{
  padding:10px 20px;
  color:white;
}
.row{
  margin:10px;
}
.light{
  padding:20px;
  color:white;
  text-align:center;
}
.false{
  background-color: #4d3690;
  color:#dcf;
}
.true{
  background-color: #AA4439;
  color:#FFB2AA;
}
.add{
  background-color: green;
  color: white;
  border-radius: 20%;
}
.remove{
  background-color: red;
  color: white;
  border-radius: 20%;
}

div.off, div.on{
  display: flex;
}
