body{
  font-family:sans-serif;
  font-weight:100;
  background-color: black;
}

/* CSS for the operator page */
button{
  padding: 1.5% 2%;
  margin-left: .6%;
  color:white;
  font-size: large;
  font-weight:  bold;
}
.block{
  padding: 1.5% 2%;
  margin-left: .6%;
  color: white;
  font-size: large;
  font-weight:  bold;
  height: 2%;
  border-color: black;
}
select{
  padding:2% 2.5%;
  margin-left: .6%;
  height: 30px;
}
.row{
  margin: .4%;
}
.light{
  padding: 1.7%;
  color: white;
  text-align: center;
  text: bold;
  font-weight: bold;
  font-size: large;
  margin-top: 1.7%;
  margin-bottom: 1.7%;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
}
.false{
  background-color: #4d3690;
  color:#dcf;
}
.true{
  background-color: #AA4439;
  color:#FFB2AA;
}
.radius{
  border-radius: 20%;
}
.add{
  background-color: #81b108;
}
.remove{
  background-color: #ff7b92;
}
.add, .remove{
  color: black;
  border-radius: 50%;
}
div.off, div.on{
  display: flex;
}
.imageClass{
  color: green;
  border-radius: 20%;
  background-color: #81b108;
}
img.imageClass {
  display: flex;
  float: right;
  width: 4%;
  height: 4%;
  margin-left: .6%;
}

/* This is CSS for the first 2 routes */
.headerText{
  font-size: 70px;
}
.welcomeText {
  font-weight: bold;
  color: hotpink;
  font-size: 70px;
}
.largeDesc {
  color: white;
}
.largeDesc {
  font-size: 50px;
}

/* media queries */
@media(max-width: 950px) {
  .headerText{
    font-size: 40px;
  }
  .welcomeText {
    font-size: 50px;
  }
}
@media(max-width: 600px) {
  .welcomeText {
    font-size: 30px;
  }
  .largeDesc{
    font-size: 20px;
  }
  .headerText{
    font-size: 20px;
  }
  .booImage{
    display: none;
  }
  .booleanImage{
    display: none;
  }
}
